p {color:yellow;
background-color:gray;
font-size:20pt;
font-family:georgian;
text-align:center}
h1{color:orange;
background-color:gray;
font-size:30pt;
font-family:armenian;
text-align:center}
h2{color:green;
background-color:gray;
font-size:25pt;
font-family:armenian;
text-align:center}